name: ci

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - 'main'

jobs:
  generate-movies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
      - run: mkdir public
      - run: uv run main.py > public/movies.json
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
          TMDB_CACHE_ENABLED: False
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: movies
          path: public/movies.json
  generate-series:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
      - run: mkdir public
      - run: uv run series.py > public/series.json
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
          TMDB_CACHE_ENABLED: False
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: series
          path: public/series.json
  generate-swedish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
      - run: mkdir public
      - run: uv run swedish.py > public/swedish.json
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
          TMDB_CACHE_ENABLED: False
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: swedish
          path: public/swedish.json
  deploy:
    runs-on: ubuntu-latest
    needs: [generate-movies, generate-series, generate-swedish]
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          merge-multiple: true
          path: public
      - uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          keep_files: true
